<h1>Add New Sighting!</h1>

<%= form_for @sighting do |f| %>
    <h3>Date:</h3>
    <%= f.date_field :date, max: Date.today %><br>
    <br>
    
    <h3>Species</h3>
    <%= f.fields_for :parks do |sf| %>
        Existing Species:
        <%= sf.collection_select(:species_id, Species.all, :id, :name, prompt: true) %>
        <h4>OR</h4>
        Add New Species:<br>
        <%= sf.label :name, "Name:" %>
        <%= sf.text_field :name %>
        <br>
        <%= sf.label :kingdom, "Kingdom:" %>
        <%= sf.select(:kingdom, kingdoms, {include_blank: true}) %>

    <% end %>
    <br>
    <br>
    <h3>Park</h3>
    <%= f.fields_for :parks do |pf| %>
        Existing Park:
        <%= pf.collection_select(:park_id, Park.all, :id, :name, prompt: true) %>
        <emsp><h4>OR</h4>
        Add New Park:<br>
        <%= pf.label :name, "Name:" %>
        <%= pf.text_field :name %>
        <br>
        <%= pf.label :location, "State:" %>
        <%= pf.select(:location, us_states, {include_blank: true}) %>
        <br>
        <%= pf.label :size, "Size (square feet):" %>
        <%= pf.number_field :size %>
        <br>
    <% end %>

    <%= f.submit %>
<% end %>