<!DOCTYPE html>
<html>
  <head>
    <title>ParkTrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .header {
          position: fixed;
          width: 100%;
          height:70px;
          background-color: white;
          color: white;
          text-align: left;
        }

        body {
          background-image: url("/background-image.png");
          background-attachment: fixed;
          background-repeat: no-repeat;
          font-family: "Lucida Console", Monaco, monospace;
          line-height: 18px;
        }

        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          height:22px;
          color: white;
          text-align: center;
        }
      </style>
    </head>

  <body>

    
    
    <h1 style="font-size:40px;text-align:center"><%= link_to "ParkTrack", root_path %></h1>
    
    <% if user_signed_in? %>
      <p style="text-align:center;">
        <%= link_to "Record A New Sighting!", new_sighting_path %>
      </p>
      <br>
    <% end %>

    <%= yield %>

    <div class="footer">
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
    </div>
    <br>
  </body>
</html>
